{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}

    <h1 class="title">Welcome!</h1>

    <p>Congratulations! You have successfully installed a new Symfony application.</p>

    <a href="{{ path('other') }}">Tam jest modal o parzystej minucie</a>

{% endblock %}
